h1 {
  font-size: 46px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 30px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

p {
  margin: 0 0 23px;
}

a {
  color: var(--blue);
}

ul {
  li {
    margin: 0 0 24px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
}

.j-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.space-around {
  justify-content: space-around;
}

.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  
  &.content {
    padding: 120px 15px;
    @media (max-width: 1024px) {
      padding: 37px 15px;
    }
  }
}

.container-fluid {
  width: 100%;
  &.content {
    padding: 100px 0;
    @media (max-width: 1024px) {
      padding: 37px 0;
    }
  }
}

.relative {
  position: relative;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}
.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.section__title {
  font-size: em(48);
  font-weight: 400;
  margin: 0 0 46px 0;
}

.oh {
  overflow: hidden;
}

.margin__container {
  margin: 0 0 0 calc(50% - var(--container-width) / 2);
}

.margin-left-container {
  margin: 0 0 0 calc(100% - var(--container-width) / 2);
}
.margin-right-container {
  margin: 0 calc(100% - var(--container-width) / 2) 0 0 ;
}

.main.page {
  padding: 40px 0 130px 0;
}

.small-title {
  font-size: em(28);
  font-weight: 400;
  margin: 0 0 35px 0;
}

.svg {
  g {
    color: currentColor;
    path {
      fill: currentColor;
    }
  }
  path {
    fill: currentColor;
  }
}

.hidden-desktop {
  display: none;
  @include breakpoints(lg) {
    display: block;
  }
}