:root {
  --container-width: 1200px;
  --font: Montserrat;
  --font-secondary: BebasNeue;
  --black-color: #262526;
  --beige-color: #f2e1c2;
  --orange-color: #f23207;
  --orange-color-darken: #d9310b;
  --brown-color: #8c2d18;
}
