main.main.container 
  .main-content 
    .main-content__line
      svg(width='10' height='100%' viewbox='0 0 10 605' fill='none' xmlns='http://www.w3.org/2000/svg').main-content__icon
        path(d='M4 3H6V600H4V3Z' fill='#D9D9D9').main-content__path.js-content-path
        circle(cx='5' cy='3' r='3' fill='#D9D9D9').main-content__circle
        circle(cx='5' cy='600' r='5' fill='#D9D9D9').main-content__circle.js-content-circle
    h3.main-content__title.js-title-animated Точка назначения:
    svg.clipping-paths
      defs 
        clipPath#clip-1(clipPathUnits="objectBoundingBox" transform="scale(0.0005208333333333333, 0.000925925925925926)")
          path(d='M280.876 762.331L370.865 12.6665H554.442V1068.53H429.658V311.326L338.469 1068.53H213.684L115.296 321.884V1068.53H0.109955V12.6665H183.688L280.876 762.331Z' fill='black')
          path(d='M1059.6 1068.53H926.416L903.618 876.968H741.638L718.841 1068.53H597.656L732.039 12.6665H925.216L1059.6 1068.53ZM758.436 733.672H885.621L822.028 199.706L758.436 733.672Z' fill='black')
          path(d='M1297.44 12.6665C1363.83 12.6665 1413.03 34.7894 1445.02 79.0353C1477.82 123.281 1494.22 188.141 1494.22 273.616V410.879C1494.22 496.354 1477.82 561.214 1445.02 605.46C1413.03 649.706 1363.83 671.829 1297.44 671.829H1235.05V1068.53H1103.07V12.6665H1297.44ZM1235.05 163.505V520.991H1297.44C1318.24 520.991 1334.24 513.952 1345.44 499.873C1356.64 485.795 1362.23 459.65 1362.23 421.438V263.058C1362.23 224.845 1356.64 198.7 1345.44 184.622C1334.24 170.544 1318.24 163.505 1297.44 163.505H1235.05Z' fill='black')
          path(d='M1920.11 674.845V815.125C1920.11 900.6 1903.31 966.466 1869.72 1012.72C1836.92 1057.97 1788.13 1080.6 1723.33 1080.6C1658.54 1080.6 1609.35 1057.97 1575.75 1012.72C1542.96 966.466 1526.56 900.6 1526.56 815.125V266.074C1526.56 180.6 1542.96 115.236 1575.75 69.9849C1609.35 23.728 1658.54 0.599548 1723.33 0.599548C1788.13 0.599548 1836.92 23.728 1869.72 69.9849C1903.31 115.236 1920.11 180.6 1920.11 266.074V368.644H1795.33V255.516C1795.33 217.303 1788.93 190.655 1776.13 175.572C1764.13 159.482 1747.73 151.437 1726.93 151.437C1706.14 151.437 1689.34 159.482 1676.54 175.572C1664.54 190.655 1658.54 217.303 1658.54 255.516V825.683C1658.54 863.896 1664.54 890.544 1676.54 905.627C1689.34 920.711 1706.14 928.253 1726.93 928.253C1747.73 928.253 1764.13 920.711 1776.13 905.627C1788.93 890.544 1795.33 863.896 1795.33 825.683V674.845H1920.11Z' fill='black')
    .text-video-wrapper.js-video-show
      video(muted autoplay loop src="./images/Mars.mp4").text-video
      h1.page-title Марс

