doctype html
html(lang="ru")
  include pug/_head
  body.body
    //if lte IE 11 script(src='http://phpbbex.com/oldies/oldies.js' charset='utf-8')
    .entry
      .star-background.js-background
      .smoke-layout.js-smoke
      include pug/layouts/_header
      include pug/layouts/_main
      include pug/layouts/_modal
   
